body {
    font-family: Rubic;
}

/* Start Navbar */

.navbar-light {
    background-color: #212529 !important;
}

.navbar-brand span {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.navbar-light div .first {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* End Navbar */


/* Start Landing */
.landing {
    background-color: #212529 !important;
    background-image: url("../images/graphic-bg-clouds-2.png");
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 30px;

}

.landing h1 {
    color: white;
    padding-bottom: 10px;
    font-size: 70px;
}

.landing p {
    color: white;
    font-size: 16px;

}

.landing .card .btn {
    background-color: #02b875;
    color: white;
}

.landing .card {
    padding-top: 15px;
    width: 450px;
}

.signin {
    margin-left: 100px;
    margin-bottom: 100px;
}

/* End Landing */

/* Start Slider */

.play-btn {
    width: 60px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-40%, 350%);
}

.poster {
    width: 700px;
    height: 500px;
    padding-top: 30px;
}

.introduce {
    background-color: #f8f9fa;
}

.firstp {
    color: #ced4da;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 50px;
}

.myheader {
    color: #343a40;
    font-size: 50px;
}

.secondp {
    color: #343a40;
    font-size: 20px;

}

.myheader2 {
    color: #343a40;
    font-size: 14px;
    font-weight: bold;
    padding-top: 50px;
}



.alink {
    text-decoration: none;
    padding-bottom: 60px;
}

hr {
    margin-bottom: 0;
    color: #ced4da;
}

/* End Slider */
.envelope {
    padding-top: 60px;
    padding-bottom: 90px;
}

.messages {
    width: 400px;
}

.message3 {
    background-color: white;
    border: 1px solid#ced4da;
    width: 450px;
    padding: 0 10px 0 10px;

}

.homehead {
    color: #343a40;
    font-size: 20px;
    padding-left: 100px;
    padding-bottom: 20px;
}

.homep {
    color: #343a40;
    font-size: 18px;
    padding-left: 100px;
    padding-bottom: 40px;
}


.number1 {
    background-color: #ced4da;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    transform: translate(10px, 150%);
}

.number1 span {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    transform: translate(-40%, -60%);

}

.number2 {
    background-color: #4582ec;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    transform: translate(10px, 150%);
}

.number2 span {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 50%;
    transform: translate(-40%, -60%);

}

/* Start */
.welcome {
    background-color: #f8f9fa;

}

/* End */

/* Start */


.section {
    background-color: white;
    margin: 0;
    padding: 0;
}

.img1 {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

}

.section1 {
    width: 400px;
    padding-top: 70px;
    /* padding-bottom: 50px;*/
}

.section1 hr {
    width: 70px;
    margin-bottom: 10px;
}

.icon {
    padding-right: 10px;
}

.span2 {
    font-weight: bold;
    padding-bottom: 10px;
}


/* End */



/* Start */
.myheader4 {
    color: #343a40;
    font-size: 25px;
}

.thirdp {
    color: #343a40;
    font-size: 18px;
}

.cards-part {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* End */

/* Start footer */
.footer {
    background-color: #212529;
    height: 200px;
}

.spanfooter {
    padding-top: 100px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.pfooter {
    color: white;
    position: absolute;
    text-align: center;
    padding-top: 100px;
    font-size: 25px;

}

/* End footer */